
<div>
    <div class="col-12">
        <div class="card">
            
            <h5>Products List</h5>
    
            <p-table  styleClass="p-datatable-gridlines" #dt1 [value]="productmanagements" dataKey="id" [rows]="10"  [rowHover]="true">
				<ng-template pTemplate="caption">
                    <!-- flex justify-content-between -->
                    
                    <div class="row">
                        <div class=" flex-column sm:flex-row flex" style="padding-bottom: 4px;">
                            <div class="col-6 mr-2 mb-2" >
                                <button pButton pRipple type="button" icon="pi pi-plus" label="Add" class="p-button-success mr-2 mb-2" (click)="addProduct()">
                                </button>
                                <button pButton label="Export" icon="pi pi-upload" class="p-button-help mr-2 mb-2">
                                </button>
                            </div>
                            <div class="col-6 mr-2 mb-2" style="text-align: right;">
                                <span class="p-input-icon-left mb-2 ">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"  placeholder="Search Keyword" class="w-full"/>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="grid formgrid" style="border-top: 1px solid #cbc5c5;padding-top: 10px;">
                            
                            <div class="col-3  mr-2 mb-2">
                                <div class="col-12" style="padding-bottom: 4px !important;">
                                    Product type
                                </div>
                                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                                    <span class="p-fluid">
                                        <p-dropdown [options]="producttypes"  [filter]="true" autoWidth="false" [style]="{'max-width':'100%'}" [(ngModel)]="selectedproducttype" [showClear]="true" optionLabel="name"></p-dropdown>
                                    </span>
                                    
                                </div>
                            </div>
                            <div class="col-3  mr-2 mb-2">
                                <div class="col-12" style="padding-bottom: 4px !important;">
                                    Product group
                                </div>
                                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                                    <span class="p-fluid">
                                        <p-dropdown    [options]="productgroups" [filter]="true" autoWidth="false" [style]="{'max-width':'100%'}"  [(ngModel)]="selectedproductgroup" [showClear]="true" optionLabel="name"></p-dropdown>
                                    </span>
                                    
                                </div>
                            </div>

                            
                            
                        </div>

            			

                    </div>
                    

					
				</ng-template>
             
                
				<ng-template pTemplate="header">
					<tr>
						<th  class="text-center" style="width: 0.5rem">No.</th>
						<th  class="text-center" style="width: 4rem">Product</th>
						<th  class="text-center" style="width: 4rem">Product Type</th>
						<th  class="text-center" style="width: 4rem">Product Group</th>
						<th  class="text-center" style="width: 2rem">Material</th>
						<th  class="text-center" style="width: 2rem">Weight(g)</th>
						<th  class="text-center" style="width: 2rem">Capacity(ml)</th>
                        <th  class="text-center" style="width: 4rem">Description</th>
                        <th  class="text-center" style="width: 2rem">Unit of Measure</th>
						<th  class="text-center" style="width: 6rem">Action</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-productmanagement >
                    <tr>
                        <td class="text-center"  pFrozenColumn>{{productmanagement.no}}</td>
                        <td style="width:150px" pFrozenColumn>{{productmanagement.product_name}}</td>
                        <td  pFrozenColumn>{{productmanagement.proType.name}}</td>
                        <td  style="width:100px" pFrozenColumn>{{productmanagement.proGroup.name}}</td>
                        <td  pFrozenColumn>{{productmanagement.material}}</td>
                        <td style="width:100px" pFrozenColumn>{{productmanagement.weight|number:'1.0':'en-US' }}</td>
                        <td style="width:100px" pFrozenColumn>{{productmanagement.capacity|number:'1.0':'en-US'}}</td>
                        <td  style="width:150px" pFrozenColumn>{{productmanagement.description}}</td>
                        <td  style="width:100px" pFrozenColumn>{{productmanagement.unit_product}}</td>
                        <td>
                            <span class="mr-2 mb-2">
                                <i class="pi pi-fw pi-eye" (click)="viewProduct(productmanagement)"></i>
                            </span>
							<span class="mr-2 mb-2" >
                                <i class="pi pi-fw pi-pencil" (click)="editProduct(productmanagement)"></i>
                            </span>
                            <span class="mr-2 mb-2">
                                <i class="pi pi-fw pi-trash" (click)="showdelmessage(productmanagement)"> </i>
                            </span>

						</td>

                    </tr>
					
				</ng-template>
				
    		</p-table>
            <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
        </div>


    </div>    
</div>


