.p-datatable .p-datatable-header {
    background: #f8f9fa;
    color: #343a40;
    border: 1px solid #dee2e6;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 100;
  }
  .col-6 {
    flex: 0 0 auto;
     padding: 0rem;
    width: 50%;
}