
<div class="grid">
    <div class="col-12">
        <div class="card">
            
            <h5>Products Group List</h5>
    
            <p-table styleClass="p-datatable-gridlines">
				<ng-template pTemplate="caption">
                    <!-- flex justify-content-between -->
                    
                    <div class="row">
                        <div class=" flex-column sm:flex-row flex">
                            <div class="col-6">
                                <button pButton pRipple type="button" icon="pi pi-plus" label="Add" class="p-button-success mr-2 mb-2">
                                </button>
                                <button pButton label="Export" icon="pi pi-upload" class="p-button-help mr-2 mb-2">
                                </button>

                            </div>
                            <div class="col-6" style="text-align: right;">
                                <span class="p-input-icon-left mb-2 ">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"  placeholder="Search Keyword" class="w-full"/>
                                </span>
                            </div>
                            
    
                            
                            
                        </div>
                    </div>
                    

					
				</ng-template>
             
                
				<ng-template pTemplate="header">
					<tr>
						<th  style="width: 1rem">No.</th>
						<th  style="width: 20rem">Code</th>
						<th  style="width: 20rem">Name</th>
						<th  style="width: 10rem">Action</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-customer>
                    
					
				</ng-template>
				
    		</p-table>
            <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
           
        </div>
    </div>    
</div>


