
<div class="grid p-fluid">
    <div class="col-12">
        <div class="field">
            <label for="name">Product Name</label>
            <input type="text" pInputText id="product_name" [(ngModel)]="item.product_name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.product_name}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.product_name">Product Name is required.</small>
        </div>

    </div>
    <div class="col-12">
        <div class="formgrid grid">
            <div class="col-4">
                <div class="field">
                    <label for="name">Product Lotcode</label>
                    <input type="text" pInputText id="product_name" [(ngModel)]="item.product_lotcode"  disabled />
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Unit of Measure</label>
                    <input type="text" pInputText id="product_name" [(ngModel)]="item.unit_product"   />
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Type</label>
                    <p-dropdown [options]="producttypes"  [filter]="true"  [(ngModel)]="item.proType" [showClear]="false" optionLabel="name"></p-dropdown>
                </div>


            </div>
        </div>
       
    </div>

    <div class="col-12">
        <div class="formgrid grid">
            <div class="col-4">
                <div class="field">
                    <label for="name">Group</label>
                    <p-dropdown    [options]="productgroups" [filter]="true"  [(ngModel)]="item.proGroup"  [showClear]="false" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Material</label>
                    <input type="text" pInputText id="product_name" [(ngModel)]="item.material"   />
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Weight</label>
                    <p-inputNumber [(ngModel)]="item.weight" [min]="0" [max]="1000000">
                    </p-inputNumber>
                </div>


            </div>
        </div>
       
    </div>
    <div class="col-12">
        <div class="formgrid grid">
            <div class="col-4">
                <div class="field">
                    <label for="name">Capacity</label>
                    <p-inputNumber [(ngModel)]="item.capacity" [min]="0" [max]="1000000">
                    </p-inputNumber>

                </div>
            </div>
        </div>
       
    </div>
    <div class="col-12">
        <div class="field">
            <label for="name">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="item.description"  rows="5" cols="30"></textarea>
        </div>

    </div>

</div>
<div class="footer">
    <!-- <button mz-button class="btnLoginAgree"  translate>
      resAceptar
    </button> -->
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-warning mr-2 mb-2" (click)="hideDialog()"></button>
    <button pButton pRipple type="button" label="Save" icon="pi pi-check" class="p-button-success mr-2 mb-2" (click)="saveProduct()"></button>
    <button pButton pRipple type="button" label="Next" icon="pi pi-check" class="p-button-success mr-2 mb-2" (click)="nexProduct()"></button>
    
  </div>