


.col-12 {
    flex: 0 0 auto;
    padding: 0rem !important;
    width: 100%;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: 0.5rem;
}
:host {
    .container {
      padding: 3rem 1.5rem 2rem 1.5rem;
    }
  
    .footer {
      border-top: 0;
      background: white;
      padding: 1rem;
      text-align: right;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      display: flex;
      justify-content: flex-end;
    }
  
    .footer button {
      margin: 0 .5rem 0 0;
      width: auto;
    }
  }

