
<div class="grid p-fluid">
    <div class="col-12">
        <div class="field">
            <label for="name">Product Name</label>
            <input type="text" pInputText id="product_name" [(ngModel)]="item.product_name"  autofocus disabled/>
            
        </div>

    </div>
    <div class="col-12">
        <div class="formgrid grid">
            <div class="col-4">
                <div class="field">
                    <label for="name">Product Lotcode</label>
                    <input type="text" pInputText id="product_name" [(ngModel)]="item.product_lotcode"  disabled />
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Unit of Measure</label>
                    <input type="text" pInputText id="product_name" [(ngModel)]="item.unit_product"   disabled />
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Type</label>
                    <p-dropdown [options]="producttypes"  [(ngModel)]="item.proType" [showClear]="false" optionLabel="name" [disabled]="true"></p-dropdown>
                </div>


            </div>
        </div>
       
    </div>

    <div class="col-12">
        <div class="formgrid grid">
            <div class="col-4">
                <div class="field">
                    <label for="name">Group</label>
                    <p-dropdown    [options]="productgroups" [(ngModel)]="item.proGroup"  [showClear]="false" optionLabel="name" [disabled]="true"></p-dropdown>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Material</label>
                    <input type="text" pInputText id="product_name" [(ngModel)]="item.material"  disabled />
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="name">Weight</label>
                    <p-inputNumber [(ngModel)]="item.weight" [min]="0" [max]="1000000" [disabled]="true">
                    </p-inputNumber>
                </div>


            </div>
        </div>
       
    </div>
    <div class="col-12">
        <div class="formgrid grid">
            <div class="col-4">
                <div class="field">
                    <label for="name">Capacity</label>
                    <p-inputNumber [(ngModel)]="item.capacity" [min]="0" [max]="1000000" [disabled]="true">
                    </p-inputNumber>

                </div>
            </div>
        </div>
       
    </div>
    <div class="col-12">
        <div class="field">
            <label for="name">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="item.description"  rows="5" cols="30" disabled></textarea>
        </div>

    </div>

</div>
<div class="footer">
    <!-- <button mz-button class="btnLoginAgree"  translate>
      resAceptar
    </button> -->
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-warning mr-2 mb-2" (click)="hideDialog()"></button>

    
  </div>