<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:50%">
        <div class="col-12 xl:col-6" style="border-radius:16px; padding:0.3rem;border: 1px solid rgb(8, 8, 8);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:16px;">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/login/avatar.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">SIGN IN TO ERF TFO</div>
                    <span class="text-600 font-medium">Welcome, please use the form to sign-in</span>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">User Name</label>
                    <input id="email1" type="text" placeholder="User name" pInputText class="w-full mb-3 p-inputtext p-component p-element"> 
                    

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="w-full mb-3"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="p-button w-full p-3 text-xl" (click)="login()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
