


<div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem; color: #EF4444;"></i>
    <span>{{item.message}}<span style="font-weight:bold;">{{item.name}}</span></span>
    
</div>
<!-- <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog())"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
</ng-template> -->

<div class="footer">
    <button pButton pRipple type="button" label="Delete" icon="pi pi pi-trash" class="p-button-danger mr-2 mb-2" (click)="deleteProductsDialog()"></button>
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-warning mr-2 mb-2" (click)="confirmDeleteSelected()"></button>
</div>