


.col-12 {
    flex: 0 0 auto;
    padding: 0rem !important;
    width: 100%;
  }




  .footer {
    border-top: 0;
    padding: 1rem;
    text-align: center;
    
  }


  .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #343a40;
    padding: 0rem !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
